// ___Colors___
$color_1: #F6F6F6;
$color_2: #FF8282;
$color_3: #F1F1F1;
$color_4: #E6E6E6;
$color_5: #8D8D8D;
$color_6: #FFFFFF;
$color_7: #333333;
$color_8: #ebebeb;
$color_9: #646464;
$color_10: #787878;
$color_11: #ff5555;

// ___Fonts___
$font_size_1: 80px;
$font_size_2: 60px;
$font_size_3: 50px;
$font_size_4: 40px;
$font_size_5: 35px;
$font_size_6: 33px;
$font_size_7: 30px;
$font_size_8: 20px;
$font_size_9: 18px;
$font_size_10: 16px;
$font_size_11: 14px;
$font_size_12: 12px;
$font_size_13: 11px;


// ___General___
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    color: $color_7;
}
.box{
    min-height: 250px;
    padding: 15px;
    margin-top: 30px;
}
.dark{
    background-color: $color_7;
    color: $color_6;
}
.light{
    background-color: $color_6;
    color: $color_7;
}


// ___Main classes___
// paddings (top, bottom, both)
.padding_center_1,
.padding_top_1{
    padding-top: 80px;
}
.padding_center_2,
.padding_top_2{
    padding-top: 160px;
}
.padding_center_1,
.padding_bottom_1{
    padding-bottom: 80px;
}
.padding_center_2,
.padding_bottom_2{
    padding-bottom: 160px;
}
// Colors
.color_1{
    color: $color_1;
}
.color_2{
    color: $color_2;
}
.color_3{
    color: $color_3;
}
.color_4{
    color: $color_4;
}
.color_5{
    color: $color_5;
}
.color_6{
    color: $color_6;
}
.color_7{
    color: $color_7;
}
.color_8{
    color: $color_8;
}
// fonts sizes
.font_size_1{
    font-size: $font_size_1;
}
.font_size_2{
    font-size: $font_size_2;
}
.font_size_3{
    font-size: $font_size_3;
}
.font_size_4{
    font-size: $font_size_4;
}
.font_size_5{
    font-size: $font_size_5;
}
.font_size_6{
    font-size: $font_size_6;
}
.font_size_7{
    font-size: $font_size_7;
}
.font_size_8{
    font-size: $font_size_8;
}
.font_size_9{
    font-size: $font_size_9;
}
.font_size_10{
    font-size: $font_size_10;
}
.font_size_11{
    font-size: $font_size_11;
}
.font_size_12{
    font-size: $font_size_12;
}
.font_size_13{
    font-size: $font_size_13;
}
// Top products
.product{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    
}
.carousel-product{
    padding: 0;
    max-width: 330px;
}
.common-product{
    padding: 0 5px 5px;
    background-color: $color_3;
    max-width: 340px;
    margin-bottom: 30px;
}
.product img{
    max-width: 300px;
    margin: 10px;
}
.product .stock{
    width: fit-content;
    margin: 0 auto;
    padding: 3px 5px;
    background-color: $color_2;
    color: $color_6;
}
.product .discounted{
    position: absolute;
    left: -60px;
    top: 30px;
    transform: rotate(-45deg);
    width: 200px;
    background-color: $color_2;
    color: $color_6;
    text-align: center;
}
.product .product-name{
    color: $color_7;
    text-decoration: none;
}
.product ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.product ul li{
    float: left;
    text-align: center;
}
.product ul li:nth-child(1),
.product ul li:nth-child(2){
    width: 20%;
    text-align: left;
    margin-right: 10px;
}
.product ul li:nth-child(3){
    width: calc(60% - 20px);
}
// Social links
.social-links a{
    display: inline-block;
    color: $color_7;
    font-size: $font_size_6;
    transition: transform 0.3s ease-in-out;
}
.social-links a:hover{
    transform: translateY(-5px);
}
// Images
.img-resp{
    width: 100%;
    margin: 0 auto;
}
.img-thumbnail-list{
    max-width: 150px;
}


// ___Buttons___
.bttn{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 16px;
    border: 0;
    text-decoration: none;
}
.bttn-dark{
    background-color: $color_7;
    color: $color_8;
}
.bttn-dark:hover{
    background-color: $color_7;
    color: $color_8;
}
.bttn-light{
    background-color: $color_8;
    color: $color_7;
}
.bttn-light:hover{
    background-color: $color_8;
    color: $color_7;
}
.bttn-product{
    font-size: $font_size_7;
    color: $color_5;
    background-color: $color_4;
    margin-top: 0;
}


// ___Inputs___
// Main input settings
.custom-input{
    border: 2px solid $color_9;
}
// input type number
.custom-input[type="number"]{
    padding: 2px 0 2px 5px;
    
}
// input type text
.custom-input[type="text"]{
    padding: 2px 2px 5px;
}


// ___Navigation___
nav.navbar{
    background-color: $color_7;
}
nav.navbar .navbar-brand,
nav.navbar .nav-item .nav-link{
    color: $color_8;
}
nav.navbar .navbar-toggler{
    color: #fff;
}
nav.navbar .notifications-bell{
    position: relative;
}
nav.navbar .notifications-bell .notifications-num{
    background-color: $color_11;
    color: $color_6;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font_size_13;
}
nav.navbar .notifications-bell .dropdown-menu{
    padding: 10px;
    line-height: 17px;
    min-width: 350px;
}
nav.navbar .notifications-bell .dropdown-menu.with-scrolling{
    max-height: 404px;
    overflow-y: scroll;
}
nav.navbar .notifications-bell .dropdown-menu li:not(:first-child){
    border-top: 1px solid $color_8;
    margin-top: 20px;
    padding-top: 10px;
}
nav.navbar .notifications-bell .dropdown-menu li .remove-notify,
nav.navbar .notifications-bell .dropdown-menu li b{
    color: $color_9;
}
nav.navbar .notifications-bell .dropdown-menu li .remove-notify{
    float: right;
    font-size: $font_size_13;
    background: none;
    border: none;
}


// ___Sections___

// Slider
section#slider{
    background-color: $color_7;
    color: $color_8;
    min-height: calc(100vh - 56px);
}
section#slider .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
section#slider .carousel-item{
    background-color: $color_9;
    padding: 20px;
}
section#slider .slider-text-side{
    display: inline-block;
    background-color: $color_10;
    max-width: 685px;
    padding: 40px;
}
section#slider .slider-image-side{
    display: inline-block;
    max-width: 685px;
    overflow: hidden;
}
section#slider .slider-image-side img{
    width: 100%;
}
section#slider .scroll-down-link{
    color: $color_8;
    text-decoration: none;
    font-size: $font_size_2;
}

// Top products
section#top-products{
    background-color: $color_3;
    color: $color_7;
}

// Details
section#details ul{
    padding-left: 20px;
    font-weight: bold;
    margin-top: 10px;
}
section#details input[name="qty"]{
    width: 50px;
}
section#details .details-image-side{
    max-width: 400px;
    overflow: hidden;
    margin: 0 auto;
}
section#details .details-image-side ul{
    list-style: none;
    padding: 0;
}
section#details .details-image-side ul li{
    max-width: calc(25% - 5px);
    float: left;
    border: 5px solid $color_3;
    margin-right: 5px;
    cursor: pointer;
}

// Comments
section#comments .comment-bg{
    display: inline-flex;
    flex-direction: row;
    padding: 30px;
}
section#comments .comment-bg .user-img{
    background-color: $color_4;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 0 5px;
    overflow: hidden;
}
section#comments .comment-bg .user-comment{
    background-color: $color_3;
    border-radius: 30px;
    min-height: 64px;
    padding: 15px;
}
section#comments .comment-bg .user-comment.user-comment-me{
    background-color: $color_1;
}

// Similar products
section#similar-products{
    background-color: $color_1;
    color: $color_7;
}

// FAQ
section#faq{
    background-color: $color_7;
    color: $color_1;
}

// My profile
section#my-profile .profile-img{
    overflow: hidden;
    margin: 0 auto;
}
section#my-profile .profile-img img{
    width: 100%;
}
section#my-profile ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
section#my-profile ul li a{
    text-decoration: none;
    color: $color_7;
}
section#my-profile ul li a:hover{
    text-decoration: underline;
}

// Edit products
section#editProduct .img-gallery{
    max-width: 100px;
    border: 2px solid $color_5;
}

// Footer
footer{
    background-color: $color_3;
    padding: 30px;
}
footer ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
footer ul li{
    margin-top: 5px;
}
footer ul li a:hover,
footer ul li a{
    text-decoration: none;
    color: $color_7;
}


// ___Breakpoints___

@media (max-width: 576px) {
    // Navigation
    nav.navbar .notifications-bell{ 
        padding: 0 5px;
    }

    // Comments
    section#comments .comment-bg{
       max-width: 100%;
    }
    section#comments .comment-bg .user-img{
        display: none;
    }
    section#comments .comment-bg .user-comment{
        max-width: 100%; 
    }

    // My profile
    section#my-profile .profile-img{
        width: 240px;
        height: 240px;
    }
}

@media (min-width: 576px) {
    // Navigation
    nav.navbar .notifications-bell{ 
        padding: 0 5px;
    }

    // Comments
    section#comments .comment-bg{
       max-width: 100%;
    }
    section#comments .comment-bg .user-img{
        display: none;
    }
    section#comments .comment-bg .user-comment{
        max-width: 100%; 
    }

    // My profile
    section#my-profile .profile-img{
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 768px) {
    // Navigation
    nav.navbar .notifications-bell{ 
        padding: 0;
    }

    // Comments
    section#comments .comment-bg{
        max-width: 50%;
    }
    section#comments .comment-bg .user-img{
        display: block;
    }
    section#comments .comment-bg .user-comment{
        max-width: calc(100% - 74px);
    }

    // My profile
    section#my-profile .profile-img{
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 992px) {
    // My profile
    section#my-profile .profile-img{
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}

@media (min-width: 1920px) {
    .container-fluid{
        max-width: 1920px;
    }
    section{
        min-height: auto !important;
    }
}